
<form method="post" action="/students">
<label for="first-name">First name:</label>
<input id="first-name" type="text" name="first_name">
<label for="last-name">Last name:</label>
<input id="last-name" type="text" name="last_name">

<label for="houses">Select a house</label>
<select id="houses" name="houses" value="select">
<option value="Gryffindor"></option>
<option value="Ravenclaw">Ravenclaw</option>
<option value="Hufflepuff">Hufflepuff</option>
<option value="Slytherin">Slytherin</option>
</select>

<label for="age">Age</label>
<input id="age" type="number" name="age">

<input type="submit" value="Add Student">

</form>